#text {
    padding-left: 50px;
    font-family: "Motiva Sans", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      letter-spacing: 2px;
      line-height: normal;
      text-decoration: none solid rgb(255, 255, 255);
      text-align: start;
      text-indent: 0px;
      text-transform: uppercase;
      vertical-align: baseline;
      white-space: normal;
      word-spacing: 0px;
  }